//From https://codepen.io/nickbottomley/pen/uhfmn

*,
*:before,
*:after {
    box-sizing: border-box;
}

.donationTypeRadioSwitchContainer {
    width: 100%;
    height: 80px;

    label {
        user-select: none;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}
.switch {
    margin: 4rem auto;
}
/* main styles */
.switch {
    width: 24rem;
    position: relative;
}
.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.switch input:checked {
    z-index: 1;
}
.switch input:checked + label {
    opacity: 1;
    cursor: default;
}
.switch input:not(:checked) + label:hover {
    opacity: 0.9;
}
.switch label {
    color: #222;
    opacity: 0.5;
    transition: opacity 0.25s ease;
    cursor: pointer;
}
.switch .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
}
.switch .toggle-inside {
    border-radius: 5rem;
    background: #cbe4e4;
    position: absolute;
    transition: 0.25s ease all;
}
.switch--horizontal {
    width: 36rem;
    height: 3rem;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 1rem;
}
.switch--horizontal input {
    height: 3rem;
    width: 6rem;
    left: 15rem;
    margin: 0;
}
.switch--horizontal label {
    font-size: 1.5rem;
    line-height: 3rem;
    display: inline-block;
    width: 15rem;
    height: 100%;
    margin: 0;
    text-align: center;
}
.switch--horizontal label:last-of-type {
    margin-left: 6rem;
}
.switch--horizontal .toggle-outside {
    position: absolute;
    width: 6rem;
    left: 15rem;
}
.switch--horizontal .toggle-inside {
    height: 2.5rem;
    width: 2.5rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
    left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 3.25rem;
}